<!--
   this is a template replace "domain.com" with your domain , This redirects domain.com => www.domain.com only use for windows base server if using linux base server use .htaccess file and not web.config
   see example (http://support.godaddy.com/groups/web-hosting/forum/topic/web-config-to-redirect-non-www-to-www/)
-->

<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Redirect to WWW" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{HTTP_HOST}" pattern="^domain.com$" />
</conditions>
<action type="Redirect" url="http://www.domain.com/{R:0}"
redirectType="Permanent" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>